OPENAI_API_KEY=provided
TAVILY_API_KEY=your_tavily_key
PHOENIX_COLLECTOR_ENDPOINT
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=537
EMAIL_USER=your_email
EMAIL_PASSWORD=your_application_pass
POSTGRES_DATABASE_URL=postgresql://[user:password@localhost:5432/dbname